@import "../../../styles/mixins";
.toggleList {
  margin: 80px;

  flex-direction: row;
  align-items: center;
  display: none;
  min-width: 700px;

  @include in-desktop() {
    display: flex;
  }

  .result {
    flex: 1;
  }
  .tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .tab {
      display: flex;
      flex-direction: row;
      padding: 5px 10px;
      color: black;
      background-color: white;
      border: 2px solid black;
      cursor: default;
      width: 80px;
      align-self: stretch;

      &:hover {
        cursor: pointer;
      }
      &Selected {
        background-color: black;
        color: white;
      }

      .image {
        display: flex;
      }
      .label {
        margin-left: 5px;
      }
    }
  }
}
