@import "../../../styles/mixins.scss";

.contentContainer {
  padding-top: 25px;
  min-width: 360px;
  margin: auto auto;

  @include in-desktop() {
    padding-top: 0px;
    min-width: 720px;
    max-width: 900px;
  }
}
